<div class="container">
<app-cockpit (server)="OnServerInput($event)"></app-cockpit>
  <hr>
  <div class="row" *ngFor="let serverElt of serverElements">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
      <app-server-element [serverElt]=serverElt [name]=serverElt.name>
        <p #contentParagraph>
          <strong *ngIf="serverElt.type === 'server'" style="color: red">{{ serverElt.content }}</strong>
          <em *ngIf="serverElt.type === 'blueprint'" style="color: blue">{{ serverElt.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
